.ListingCard_Cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  height: 100%;

  .body_content {
    .image_cont {
      width: 100%;
      padding: 2.5rem;
      img {
        width: 100%;
      }
    }
    .product_name {
      font-size: 1.125rem;
      line-height: 1.75rem;
      font-weight: 700;
      margin-top: 10px;
    }

    .product_label {
      font-size: 0.75rem;
      line-height: 1rem;
    }
  }

  .footer_content {
    margin-top: 20px;
    .shipping {
      color: green;
      font-size: 0.75rem;
      line-height: 1rem;
    }
  }
}
